/* Universal CSS */

body {
    margin: 0;
}




/*------------------------------------
            Start Shared CSS 
------------------------------------*/

.button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: Open Sans;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-description {
    color: #757575;
    font-size: 18px;
    margin: 10px 0 30px 0;
    text-align: center;
}

/*------------------------------------
            End Shared CSS 
------------------------------------*/





/*--------------------------------------
        Start header section CSS 
--------------------------------------*/

header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
/* nav-bar css */
nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 195px;
}
#nav-title {
    font-weight: 600;
    font-size: 45px;
}
#nav-title span {
    color: #FD6E0A;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
nav ul a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* header content css */
#header-contents {
    display: flex;
    align-items: center;
    margin: 0 200px;
}
#banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
#banner-title {
    font-weight: 600;
    font-size: 85px;
    margin: 0;
}
#banner-details p {
    color: #757575;
    font-size: 18px;
    margin: 0 0 30px 0;
}

/*------------------------------------
        End header section CSS 
------------------------------------*/





/*------------------------------------
        Strat Main section-1 CSS 
------------------------------------*/

#section-1 {
    background: #FFF8F3;
    padding: 130px 150px;
    max-width: 840px;
    margin: 130px auto;
    text-align: center;
    border-radius: 10px;
}
#info-container {
    display: flex;
    justify-content: space-around;
}
.info-title {
    color: #757575;
    font-size: 18px;
    margin: 0;
}
.info-details {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin: 0;
}

/*------------------------------------
        End Main section-1 CSS 
------------------------------------*/





/*------------------------------------
        Start Main section-2 CSS 
------------------------------------*/

#section-2 {
    max-width: 1140px;
    margin: 130px auto;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

/*------------------------------------
        End Main section-2 CSS 
------------------------------------*/






/*------------------------------------
        Start Main section-3 CSS 
------------------------------------*/

#section-3 {
    max-width: 1140px;
    margin: 0 auto;
}
#resume-container {
    display: flex;
    gap: 24px;
}
.resume-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resumeAddress-Year {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume-details {
    color: #757575;
}
#resume-button {
    margin: 50px 0 120px 0;
    text-align: center;
}
.resume-topics {
    font-weight: 900;
}

/*------------------------------------
        End Main section-3 CSS 
------------------------------------*/






/*------------------------------------
        Start Footer section CSS 
------------------------------------*/

footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    max-width: 740px;
    padding: 130px 200px;
    margin: 0 auto;
}
.footer-title {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 50px;
    margin-right: -10px;
}
#footer-details {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.input-field {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    height: 64px;
}
.input-field-textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 70px 30px;
}

/*------------------------------------
        End Footer section CSS 
------------------------------------*/







/*------------------------------------
        Start Media Query CSS 
        Responsive for Mobile
------------------------------------*/

@media screen and (max-width: 720px){
    /* header section */
    header {
        background-position: 2px 217px, bottom left;
        background-size: 580px, 80.8px;
        padding-bottom: 40px;
    }
    nav {
        flex-direction: column;
        align-items: center;
        padding: 5px 185px;
    }
    #nav-title {
        margin: 0;
    }
    nav ul {
        margin: 15px 0 0 0;
        padding: 0;
    }
    nav ul > li {
        margin-left: 20px;
    }
    #header-contents {
        flex-direction: column-reverse;
    }
    #banner-details {
        width: 270px;
        margin-left: 80px;
    }
    #header-contents img {
        width: 370px;
        margin-right: 26px;
    }
    #banner-details p {
        margin: 30px 0 30px 0;
        text-align: justify;
    }
    /* section-1 */
    #section-1 {
        padding: 30px 30px;
        margin: 70px auto;
    }
    .section-title {
        margin: 0 0 20px 0;
    }
    .section-description {
        margin: 0 0 30px 0;
        text-align: justify;
    }
    #info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    }
    .info-title {
        font-size: 20px;
    }
    .info-details {
        font-size: 21px;
    }
    /* section-2 */
    #section-2 {
        margin: 30px auto 70px auto;
    }
    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 15px;
    }
    .skills {
        padding: 20px 25px;
    }
    .skill-description {
        font-size: 12px;
    }
    /* section-3 */
    #resume-container {
        gap: 15px;
        margin: 10px;
    }
    .resume-title {
        font-size: 17px;
    }
    .resumeAddress-Year {
        font-size: 17px;
    }
    #resume-button {
        margin: 20px 0 80px 0;
    }
    /* footer section */
    footer {
        gap: 50px;
        padding: 30px 40px;
        flex-direction: column;
    }
    .input-field {
        width: 80%;
        height: 29px;
    }
    .input-field-textarea {
        width: 80%;
        padding: 52px 30px;
    }
}








/*------------------------------------
        Start Media Query CSS 
        Responsive for Tablet
------------------------------------*/

@media screen and (min-width: 721px) and (max-width: 1080px) {
    /* header section */
    header {
        background-size: 430px, 94px;
    }
    #header-contents {
        margin: 0 100px;
    }
    #header-contents img {
        width: 400px;
        position: relative;
        top: 27px;
        left: 20px;
    }
    
    /* section-2 */
    #section-2 {
        margin: 130px 10px;
    }
    
    /* section-3 */
    #section-3 {
        margin: 0 10px;
    }
    /* footer section */
    footer {
        gap: 50px;
        padding: 30px 133px;
    }
    .input-field {
        width: 80%;
        padding: 8px 30px;
    }
    .input-field-textarea {
        width: 80%;
        padding: 40px 30px;
    }
}
