/* Universal CSS */

body {
    margin: 0;
}




/*------------------------------------
            Start Shared CSS 
------------------------------------*/

.button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: Open Sans;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-description {
    color: #757575;
    font-size: 18px;
    margin: 10px 0;
}

/*------------------------------------
            End Shared CSS 
------------------------------------*/





/*--------------------------------------
        Start header section CSS 
--------------------------------------*/

header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
}
/* nav-bar css */
nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 195px;
}
#nav-title {
    font-weight: 600;
    font-size: 45px;
}
#nav-title span {
    color: #FD6E0A;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
nav ul a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* header content css */
#header-contents {
    display: flex;
    align-items: center;
    margin: 0 200px;
}
#banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
#banner-title {
    font-weight: 600;
    font-size: 85px;
    margin: 0;
}
#banner-details p {
    color: #757575;
    font-size: 18px;
    margin: 0 0 30px 0;
}

/*------------------------------------
        End header section CSS 
------------------------------------*/





/*------------------------------------
        Strat Main section-1 CSS 
------------------------------------*/

#section-1 {
    background: #FFF8F3;
    padding: 130px 150px;
    max-width: 840px;
    margin: 130px auto;
    text-align: center;
    border-radius: 10px;
}
#info-container {
    display: flex;
    justify-content: space-around;
}
.info-title {
    color: #757575;
    font-size: 18px;
    margin: 0;
}
.info-details {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin: 0;
}

/*------------------------------------
        End Main section-1 CSS 
------------------------------------*/





/*------------------------------------
        Start Main section-2 CSS 
------------------------------------*/

#section-2 {
    max-width: 1140px;
    margin: 130px auto;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

/*------------------------------------
        End Main section-2 CSS 
------------------------------------*/